header{
    height: 15%;
    background-color: aliceblue;
}
.nav{
    display: flex;
}
.buttons{
    justify-content: flex-end;
}
footer{
    height: 15%;
    background-color: aliceblue;
}

.particle{
    position: absolute;
    border: 1px solid #ffffff;
    background-color: #00000077;

}
