body {
  font-family: "Roboto";
  margin: 0%;
  color: grey;
}

header {
  display: flex;
  justify-content: space-between;
  align-content: flex-end;
  height: 10%;
  background-color: rgba(180, 180, 180, 0.5);
  padding-left: 1%;
  padding-top: 1%;
}

.logo {
  width: 25%;
  height: auto;
  margin: 0%;
}


button {
  margin-bottom: 9%;
  border: 1px solid #999999;
  background-color: rgba(180, 180, 180, 0.5);
  border-radius: 4px;
  color: grey;
  padding: 3px;
  margin: 4px;
  margin-bottom: 18px;
  
}

.button2 {
  margin-right: 6px;
}

.buttons{
  display: flex;
  align-items: flex-end;
  width:95%;
  
}

.button3{
  margin-right: 65%;
}
figcaption{
  width: 25%;
  margin: 0%;
}

figure{
  margin: 0%;
}
.mainN{
height: 80%;
background-color: aqua;


}
footer {
  display: flex;
  justify-content: space-between;
  height: 10%;
  background-color: rgba(180, 180, 180, 0.5);
  padding-left: 2%;
  padding-right: 2%;
  padding-top: 1%;
}

.tradeM {
  align-self: flex-end;
}

#users{
  overflow-y: hidden;
}

.user {
  position: absolute;
  border: 1px solid #831717;
  background-color: #b9a2a252;
}



.name {
  font-size: 8pt;
  color: rgb(77, 160, 233);
  text-align: center;
}

.shortDescription {
  font-size: 6pt;
  color: rgba(2, 18, 32, 0.678);
}

body {
  margin: 0%;
  overflow: hidden;
}
#canvas {
  border: black 3px solid;
  background: #4b3664;
}

